.kilo{
    background-color: blueviolet;
}
.cool{
    margin-left: 3cm;
    /* margin-top: 4cm; */
    /* padding-top: 3cm; */
}
.goat{
    margin-left: 1cm;
}
.pool{
    /* margin-left: cm; */
    height: 400px;
    width: 500px;
}
.body{
    color: blueviolet;
}